body {
  background: #f1f1f1;
}

.form {
  padding: 15px;
  background: #0d47a1;
  color: white;
}

.card-body {
  background: #e1e2e1;
}

#creado {
  background: #002b55;
}

.card {
  background: transparent !important;
  border: none !important;
}

.fa-solid {
  color: red;
}

i {
  cursor: pointer;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
